:css
  .required-label:after {
    content: " *";
    color: #F00;
    font-weight: bold;
  }

#form-wrapper
  = form_for @advert, html: {class: 'form-horizontal'} do |f|
    = f.hidden_field :fieldvalues, value: @advert.fieldvalues.to_json
    = f.hidden_field :category_id, value: @advert.category_id
    .form-group
      = f.label :title, class: 'col-sm-2 control-label required-label'
      .col-sm-10
        = f.text_field :title, class: 'form-control'

    .form-group
      %label.col-sm-2.control-label Category
      .col-sm-6
        %p.form-control-static= @advert.category.name

    .form-group
      = f.label :description, class: 'col-sm-2 control-label required-label'
      .col-sm-10
        = f.text_area :description, class: 'form-control', rows: 8

    .form-group
      = f.label :price, class: 'col-sm-2 control-label required-label'
      .col-sm-3{style:'width: auto; margin-bottom: 10px;'}
        = f.select :price_type, (Advert::PRICE_TYPES.map {|k,v| [v,k]}), {}, {class: 'form-control better-select-box', onChange: 'AdvertStageTwoBuilder.updatePriceField()'}
      #price-field-wrapper.col-sm-3
        .input-group{style: 'margin-bottom:10px;'}
          %span#exact-price-field.input-group-addon{style: 'background-color: #EEE;'} R
          = f.text_field :price, {data: {role: 'money', a_sep: '', a_dec: '.'}, class: 'form-control', placeholder: '0.00'}

    - if not @fieldsdef.empty?
      .form-group
        %label.col-sm-2.control-label Essentials
        .col-sm-10
          .form-group
            - @fieldsdef.each_pair do |name,ops|
              .col-sm-5
                .input-group{style: 'margin-bottom:10px;'}
                  %span.input-group-addon{style: 'background-color: #EEE;'}
                    %strong{class: (ops[:optional] ? '' : 'required-label')}= name
                    - if ops[:optional]
                      %i (Optional)
                  - if ops[:select]
                    %select.form-control.better-select-box.field-value-input{id: "field_#{name}", name: name}
                      %option= ''
                      - ops[:select].each do |i|
                        %option= i
                  - else
                    %input.form-control.field-value-input{type: 'text', value: '', name: name, id: "field_#{name.sub(' ', '__')}"}

    .clearfix
    .form-group
      .col-sm-2
      .col-sm-10
        %p{style: 'color: #F00'}= "* indicates a required field"

    - if not @advert.errors.empty?
      .form-group
        .col-sm-2
        .col-sm-10
          - @advert.errors.each do |attribute, error|
            .alert.alert-danger.alert-dismissable
              %button.close{type: 'button', 'data-dismiss' => 'alert', 'aria-hidden' => 'true'}
                &times;
              = error

    .form-group
      .col-sm-12
        .pull-right
          = link_to 'Save', 'javascript:void(0);', onclick: 'AdvertStageTwoBuilder.submit()', class: 'btn btn-info'
          = link_to 'Back', new_advert_path, class: 'btn btn-default'
          = link_to 'Cancel', adverts_path, class: 'btn btn-default'

= javascript_include_tag 'autoNumeric'
= javascript_include_tag 'advert_stage_two'

:javascript
  $(document).ready(function(){
    var moneyfield = $('input[data-role=money]')
    moneyfield.autoNumeric('init')
    moneyfield.keydown(function(event){
      if(event.keyCode == 13) $(this).autoNumeric('set', $(this).autoNumeric('get'))
    });
    AdvertStageTwoBuilder.fillvalues();
    AdvertStageTwoBuilder.updatePriceField();
  });
