- title 'Adverts'

.page-header
  %h3
    = "Adverts"

.row
  .col-sm-3
    = nested_categories_tree_plain(@categories)
    %p
      = link_to 'Add advert', new_advert_path
  .col-sm-9
    .panel.panel-default
      .panel-heading.item-heading{style: 'background-color: #E3ECF3'}
        = "Adverts"
      %table.table.table-bordered
        %tbody
          - @adverts.each do |advert|
            %tr
              %td
              %td
                = link_to advert.title, advert
              %td
                - if advert.price_type == 'exact'
                  = format_number_pretty(advert.price)
                - else
                  = Advert::PRICE_TYPES[advert.price_type]
