%div{id: 'form_wrapper'}
  = form_for @advert, html: {class: 'form-horizontal'} do |f|
    = f.hidden_field :category_id, value: @advert.category_id
    %div.form-group
      = f.label :title, class: 'col-sm-2 control-label'
      %div.col-sm-8
        = f.text_field :title, class: 'form-control'
    %div.form-group
      = f.label :description, class: 'col-sm-2 control-label'
      %div.col-sm-8
        = f.text_area :description, class: 'form-control', rows: 8
    %p
      = link_to 'Save', 'javascript:void(0);', onclick: '$("#new_advert").submit()'
      = link_to 'Cancel', adverts_path
