= javascript_include_tag 'category_builder'

%p
  = @category.fields.to_json

%div{id: 'category_builder_form_anchor'}

= form_for @category do |f|
  = f.text_field :name
  = f.text_field :fields, value: @category.fields.to_json

  %p
    = link_to "Save", 'javascript:void(0);', :onclick => "CategoryBuilder.save();"
    = link_to 'Cancel', @category

:javascript
  $(document).ready( function() {
    CategoryBuilder.create_form()
  });