= javascript_include_tag 'category_builder'

#form-wrapper
  = form_for @category, html: {class: 'form-horizontal'} do |f|
    = f.hidden_field :fields, value: @category.fields.to_json

    .form-group
      = f.label :name, class: 'control-label'
      = f.text_field :name, {class: 'form-control', style: 'width: 300px;', placeholder: 'Category name'}

    .form-group
      = f.label :parent_id, class: 'control-label'
      = f.collection_select :parent_id, @parents, :id, :name, {include_blank: "(No parent)"}, {class: 'form-control', style: 'width: 300px;'}

    #category_builder_form_anchor

    - @category.errors.each do |attribute, error|
      .alert.alert-danger.alert-dismissable
        %button.close{type: 'button', 'data-dismiss' => 'alert', 'aria-hidden' => 'true'}
          &times;
        = error

    %p
      = link_to "Save", 'javascript:void(0);', {onclick: "CategoryBuilder.save();", class: 'btn btn-success'}
      = link_to 'Cancel', @category, {class: 'btn btn-warning'}

:javascript
  $(document).ready( function() {
    CategoryBuilder.create_form()
  });