.col-sm-9
  .panel.panel-default
    .panel-heading.item-heading{style: 'background-color: #E3ECF3'}
      = "Ads"
    .table-responsive
      %table.table.table-bordered
        %col{style: "width: 120px"}
        %col
        %col{style: "width: 10%"}
        %tbody
          - if @adverts.count(:all) == 0
            %tr
              %td.text-center{colspan: 3}
                %p
                  %i.fa.fa-frown-o
                  = "Oops, no ads have been posted"
                %p
                  = "Change this by "
                  = link_to "posting a new ad!", new_advert_path

          - else
            - @adverts.each do |advert|
              %tr
                %td.text-center{style: "vertical-align: middle;"}
                  - first_image = advert.uploads.take
                  - unless first_image.nil?
                    = image_tag first_image.image.url(:thumb), class: 'img-bordered', style: 'min-width: 80px;'
                  - else
                    %h3
                      %i.fa.fa-photo

                %td
                  = link_to advert.title, show_advert_path(advert)
                  %p
                    = text_truncate advert.description, 200
                  %small.text-muted
                    %em
                      = "Posted #{time_ago_in_words(advert.created_at)} ago :"
                      = link_to advert.category.name, adverts_by_category_path(advert.category)
                %td.text-center{style: "vertical-align: middle;"}
                  %h4
                    - if advert.price_type == 'exact'
                      = format_number_pretty(advert.price)
                    - else
                      = Advert::PRICE_TYPES[advert.price_type]

