- title @advert.title

%ul.breadcrumb{style: "margin-top:10px;"}
  %li
    = link_to 'Adverts', adverts_path
  - @breadcrumb.each do |b|
    %li
      = link_to b.name, adverts_by_category_path(b)

.page-header
  %h2
    = @advert.title
    %small.pull-right
      %p
        %i.fa.fa-clock-o
        = "#{time_ago_in_words(@advert.created_at)} ago"

.row
  .col-sm-9
    %ul.list-group
      %li.list-group-item.item-heading
        = "Images"
      %li.list-group-item.text-center
        - if @images.empty?
          .missing-images-text
            = "(No images added)"
        - else
          - @images.each do |image|
            = link_to image_tag(image.image.url(:thumb), class: 'img-bordered', alt: image.description), show_gallery_path(@advert, image)

      %li.list-group-item.item-heading
        = "Description"
      %li.list-group-item.padding-2
        .padding-5
          = raw simple_format @advert.description
      - if @advert.fieldvalues.length > 0
        %li.list-group-item.item-heading
          = "Fields"
        %li.list-group-item.padding-2
          .row.no-margin
            - @advert.fieldvalues.each_pair do |name, value|
              .col-sm-5.padding-2
                .input-group.advert-field
                  %span.input-group-addon
                    %strong= name
                  .form-control= value

  .col-sm-3
    .panel.panel-default
      - if @advert.price_type == 'exact'
        %h1.text-center{style: 'margin: 10px 20px;'}
          = format_number_rands(@advert.price) + "<small>".html_safe + format_number_cents(@advert.price) + "</small>".html_safe
      - else
        %h3.text-center{style: 'margin: 10px 20px;'}
          = Advert::PRICE_TYPES[@advert.price_type]

    .well
      = "Contact area"
    .row.no-margin
      .col-sm-6.padding-2
        = link_to 'Edit', edit_advert_path(@advert), {class: 'btn btn-info', style: 'width: 100%; margin-bottom: 20px'}
      .col-sm-6.padding-2
        = link_to('Delete', {controller: 'adverts', action: 'destroy', id: @advert.id}, {data: {confirm: 'Are you sure you want to delete this advert?'}, :method => :delete, class: 'btn btn-danger', style: 'width: 100%; margin-bottom: 20px'})
